<div id="app">
  <div class="header">
    <div class="title">
      <strong>COVID-19 Dashboard</strong>
    </div>
  </div>
  <div class="content">
    <div class="left">
      <div id="related-num">
        <app-related-num [data]="relatedNumData"></app-related-num>
      </div>
      <div id="geo">
        <div id="geo-bar" *ngIf="geoSwitch === '3d'">
          <app-geo-bar  [switch]="geoBarSwitch" [data]="geoBarData"></app-geo-bar>
        </div>
        <div id="geo-scatter" *ngIf="geoSwitch === '2d'">
          <app-geo-scatter [switch]="geoScatterSwitch" [data]="geoScatterData"></app-geo-scatter>
        </div>
      </div>

    </div>
    <div class="right">
    </div>
  </div>

</div>
