#app{
  display: flex;
  height: 1000px;
  flex-direction: column;
  .header{
    background-color: #242A3F;
    color: rgb(237,205,151);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    .title{
      font-size: 30px;
    }
  }
  .content{
    display: flex;
    width: 100%;
    height: 940px;
    .left{
      width: 62%;
      height: 100%;
      display: flex;
      flex-direction: column;
      #related-num{
        width: 100%;
        height: 30%;
        padding: 20px;
      }
      #geo-bar{
        width: 100%;
        height: 70%;
      }
    }
    .right{
      width: 38%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

}



