<div id="app">
  <div class="header">
    <div class="title">
      <strong>COVID-19 Dashboard</strong>
    </div>
  </div>
  <div class="content">
    <div class="left">
      <div id="related-num">
        <app-related-num [data]="relatedNumData"></app-related-num>
      </div>
      <div id="geo">
        <div class="control">
          <div class="area-control">
            <button mat-stroked-button (click)="geoWorldSwitchChange()">World</button>
            <button mat-stroked-button (click)="geoChinaSwitchChange()">China</button>
          </div>
          <div class="dimension-control">
            <mat-slide-toggle (change)="geoSwitchChange($event)">3D</mat-slide-toggle>
          </div>
        </div>
        <div id="geo-bar" *ngIf="geoSwitch === '3d'">
          <app-geo-bar  [switch]="geoBarSwitch" [data]="geoBarData"></app-geo-bar>
        </div>
        <div id="geo-scatter" *ngIf="geoSwitch === '2d'">
          <app-geo-scatter [switch]="geoScatterSwitch" [data]="geoScatterData"></app-geo-scatter>
        </div>
      </div>
    </div>
    <div class="right">
      <div id="line-chart">
        <app-line-chart [data]="lineChartData"></app-line-chart>
      </div>
      <div id="pie-chart">
        <app-pie-chart [data]="pieChartData"></app-pie-chart>
      </div>
      <div id="bar-chart">
        <app-bar-chart [data]="barChartData"></app-bar-chart>
      </div>
    </div>
  </div>
</div>
