<div id="related-num">
  <div class="update-time">
    Last Updated at : {{data.lastUpdateTime}}
  </div>
  <mat-divider></mat-divider>
  <div class="list">
    <div class="item" *ngFor="let num of data.nums">
      <div class="add">
        较昨日: {{num[2]}}
      </div>
      <div class="now" [ngStyle]="{'color': num[3]}">
        <strong>{{num[1]}}</strong>
      </div>
      <div class="item-name">
        <strong style="color: ">{{num[0]}}</strong>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
